<section>
    <h3>Starry Skies South Newsletter</h3>
    <p>Sign up to recieve emails! We only send good ones --- pinky promise!</p>
    <footer>
        <a href="subscribe" class="button">Subscribe to newsletter</a>
    </footer>
</section>
<section>
    <h3>Another Subheading</h3>
    <ul class="links">
        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
        <li><a href="#">Ornare in hendrerit in lectus</a></li>
        <li><a href="#">Semper mod quis eget mi dolore</a></li>
        <li><a href="#">Consequat etiam lorem phasellus</a></li>
        <li><a href="#">Amet turpis, feugiat et sit amet</a></li>
        <li><a href="#">Semper mod quisturpis nisi</a></li>
    </ul>
    <footer>
        <a href="#" class="button">More Random Links</a>
    </footer>
</section>
