<script src="{{ (resources.Get "js/jquery.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/jquery.dropotron.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/browser.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/breakpoints.min.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/util.js").RelPermalink }}"></script>
<script src="{{ (resources.Get "js/main.js").RelPermalink }}"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
